{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container card-stack">
        <div class="flex">
            <div class="card">
                <h3>
                    Product Name
                </h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/800px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg">
                <h4>
                    Price: $
                </h4>
                <button class="button">
                    Details
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock %}