{% extends 'base.html' %}

{% block content %}

<!--<script src="{{ url_for('static' , filename='js/script.js') }}"></script>-->

<section>
    <div class="container card-stack">
        <div class="flex">
            {% for art in art_list %}
            <div class="card home-card" id="card-{{ art.id }}">
                <img src="{{art.img_url}}" id="img-{{ art.id }}">
                <div class="name-box">
<!--                 Full title for use in modal-->
                    <div class="hidden" id="full-title-{{ art.id }}">{{ art.title }}</div>
                    <h3 id="title-{{ art.id }}">
<!--                        crop title to fit in card-->
                        {{ art.title[0:14] }}
                    </h3>
                </div>
<!--                description of art for use in modal-->
                <div class="hidden" id="description-{{ art.id }}">{{ art.description }}</div>
                <h4 id="price-{{ art.id }}">
                    Price: €{{ art.price }}
                </h4>
                <button class="button" id="button-{{ art.id }}">
                    Details
                </button>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--modal backdrop-->
<div id="backdrop" onclick="toggleModal()">

</div>
<!--modal card-->
<div class="card" id="modal-card">
    <h2 id="modal-title">Title</h2>
    <img id="modal-image">
    <p id="modal-description"></p>
    <h3 id="modal-price"></h3>
    <div class="modal-buttons">
        <div>
            <button class="button" id="close-modal-button">
                Close
            </button>
        </div>
        <div>
            <form action="{{ url_for('home') }}" method="post">
                <button class="button" id="buy-button" name="buy-button">
                    Add to Cart <i class="fas fa-shopping-cart cart"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}