{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container card-stack">
        <div class="flex">
            {% for art in art_list %}
            <div class="card">
                <img src="{{art}}">
                <div class="name-box">
                    <h3>
                        Product Name
                    </h3>
                </div>
                <h4>
                    Price: $
                </h4>
                <button class="button">
                    Details
                </button>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<div class="modal">
</div>
<div class="card modal-card">
        <h1>Title</h1>
    </div>

{% endblock %}