{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card form-card">
         <h1>Register for an account</h1>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
     <div class="message">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <form method="POST" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
        <div class="form-inner-container">
         <div class="form-element">
             {{form.name.label}} {{ form.name(placeholder="Enter your name here") }}
        </div>
        <br>
        <div class="form-element">
                        {{form.email.label}} {{ form.email }}
        </div>
        <br>
         <div class="form-element">
             {{form.password.label}} {{ form.password }}
        </div>
        <br>
            </div>

             {{ form.submit (class="button")}}

    </form>
    </div>



</div>


{% endblock %}